@page "/Movies"
@using SEP6.Data.Movies;
@using SEP6.Models;
@inject IMovieService MovieService

<h3>Movies</h3>
<input type="text" @bind="UserInput" />
<p>You entered: @UserInput</p>
<button @onclick="SubmitForm">Submit</button>
@if (movieList.Movies != null)
{
<MudGrid>
    <MudItem xs="2">

    </MudItem>
    <MudItem xs="10">
        <MudGrid>
         @foreach (var m in movieList.Movies)
         {
            <MudItem xs="6" md="3">
                <MudCard>
                    <MudCardMedia Image="@GetMoviePoster(m.PosterRoute)" Height="300" />
                    <MudCardContent>
                        <MudText Typo="Typo.h6">@m.Title</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
         }
        </MudGrid>
            <div class="d-flex flex-column align-center">
                <MudPagination Color="Color.Primary" Count="@totalPages" @bind-Selected="@currentPage"  onchange="@SubmitForm()" />
            </div>
    </MudItem>   
</MudGrid>
}

@code {
    private List<Movie> someMovies = new List<Movie>();
    private Movie someMovie = new Movie();

    private ListOfMovies movieList = new ListOfMovies();
    private int movieId = 15;
    public string UserInput { get; set; } = "";
    public int currentPage = 1;
    public int totalPages;

    protected override async Task OnInitializedAsync()
    {
        someMovie = await GetMovie(movieId);
    }

    private async Task<Movie> GetMovie(int id)
    {
        var result = await MovieService.GetMovieByID(id);
        return result;
    }
    private async Task<ListOfMovies> SearchMovie(int page, string title)
    {
        var result = await MovieService.GetMoviesBySearch(page, title);
        currentPage = result.CurrentPage;
        totalPages = result.TotalPage;
        return result;
    }

    private async Task SubmitForm()
    {
        movieList = await SearchMovie(currentPage, UserInput);
    }

    public string GetMoviePoster(string path)
    {
        string moviePoster = "http://image.tmdb.org/t/p/w500/";
        return moviePoster + path;
    }

}
